<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{#if global.style}}
        <link rel="stylesheet" href="{{{global.style}}}">
        {{/if}}

        <title>Group - {{name}}</title>
    </head>

    <body class="{{{global.classPrefix}}}group">
        <header>
            <nav class="{{{global.classPrefix}}}nav">
                <a href="../">Index</a>
            </nav>
        </header>
        <main>
            <h1>{{name}}</h1>

            <div class="{{{global.classPrefix}}}card {{{global.classPrefix}}}group--description">
                <h3>description</h3>
                <div class="{{{global.classPrefix}}}markdown">
                    {{{description}}}
                </div>
            </div>

            <div class="{{{global.classPrefix}}}card {{{global.classPrefix}}}group--inherited-variables">
                <h3>Inherited variables</h3>
                <div>
                    {{#if variables.auth}}
                    <div
                        class="{{{global.classPrefix}}}card {{{global.classPrefix}}}group--inherited-variables--authentication-type">
                        <h3>Authentication Type</h3>
                        <ol class="{{{global.classPrefix}}}list">
                            {{#each variables.auth}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                    {{/if}}

                    {{#if variables.role}}
                    <div
                        class="{{{global.classPrefix}}}card {{{global.classPrefix}}}group--inherited-variables--authentication-role">
                        <h3>Authentication Role</h3>
                        <ol class="{{{global.classPrefix}}}list">
                            {{#each variables.role}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                    {{/if}}

                    {{#if variables.requestType}}
                    <div
                        class="{{{global.classPrefix}}}card {{{global.classPrefix}}}group--inherited-variables--request-type">
                        <h4>Request Type</h4>
                        <ol class="{{{global.classPrefix}}}list">
                            {{#each variables.requestType}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                    {{/if}}

                    {{#if variables.responseType}}
                    <div
                        class="{{{global.classPrefix}}}card {{{global.classPrefix}}}group--inherited-variables--response-type">
                        <h4>Response Type</h4>
                        <ol class="{{{global.classPrefix}}}list">
                            {{#each variables.responseType}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                    {{/if}}

                </div>
            </div>

        </main>
    </body>

</html>