<li class="parameter-item">
    <h4>{{key}}</h4>
    <h5>Description</h5>
    <p class="{{{global.classPrefix}}}description">
        {{description}}
    </p>
    <h5>Type</h5>
    <p class="{{{global.classPrefix}}}type">
        {{type}}
    </p>

    {{#if restrictions}}
    <h5>Restrictions</h5>
    <p class="{{{global.classPrefix}}}restrictionss">
        {{restrictions}}
    </p>
    {{/if}}
</li>