<ul class="route">
    <h1>{{name}}</h1>
    {{#each method}}

    <div class="method">
        <h2>{{verb}}</h2>

        <h3>Description</h3>
        <p class="description">
            {{description}}
        </p>

        {{#if requestType}}
        <h3>Request Type</h3>
        <p class="request-type">
            {{requestType}}
        </p>
        {{/if}}

        {{#if responseType}}
        <h3>Response Type</h3>
        <p class="response-type">
            {{responseType}}
        </p>
        {{/if}}

        {{#if requestparameters}}
        <h3>Request Parameters</h3>
        <ul class="request-parameters">

            {{#each requestparameters}}

            {{> routeParameter this}}

            {{/each}}

        </ul>
        {{/if}}

        {{#if responseParameters}}
        <h3>Response Parameters</h3>
        <ul class="response-parameters">

            {{#each responseParameters}}

            {{> routeParameter this}}

            {{/each}}

        </ul>
        {{/if}}

    </div>

    {{/each}}

</ul>