<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{#if global.style}}
        <link rel="stylesheet" href="{{{global.style}}}">
        {{/if}}

        <title>Route - {{{name}}}</title>
    </head>

    <body>
        <div class="route">
            <h1>{{name}}</h1>
            {{#each method}}

            <div class="{{{../global.classPrefix}}}method">
                <h2>{{verb}}</h2>

                <h3>Description</h3>
                <p class="{{{../global.classPrefix}}}description">
                    {{description}}
                </p>

                {{#if requestType}}
                <h3>Request Type</h3>
                <p class="{{{../global.classPrefix}}}request-type">
                    {{requestType}}
                </p>
                {{/if}}

                {{#if responseType}}
                <h3>Response Type</h3>
                <p class="{{{../global.classPrefix}}}response-type">
                    {{responseType}}
                </p>
                {{/if}}

                {{#if requestParameters}}
                <h3>Request Parameters</h3>
                <ul class="{{{../global.classPrefix}}}request-parameters">

                    {{#each requestParameters}}

                    {{> routeParameter this global=../../global}}

                    {{/each}}

                </ul>
                {{/if}}

                {{#if responseParameters}}
                <h3>Response Parameters</h3>
                <ul class="{{{../global.classPrefix}}}response-parameters">

                    {{#each responseParameters}}

                    {{> routeParameter this global=../../global}}

                    {{/each}}

                </ul>
                {{/if}}

            </div>

            {{/each}}

        </div>
    </body>

</html>